.nested {
    position: absolute;
    height: 100vh;
    display: block;
    width: 100vw;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.nested.horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
}
